@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body, html {
    height: 100%;
    margin: 0;
}

.inner-page {
    display: flex;
}

.inner-page__info {
    position: absolute;
    top: 0px;
    left: 250px;
}

.inner-page__title {
    color: #26C17E;
    margin: 40px 0px 40px 30px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}

p {
    color: black;
    margin-left: 20px;
    margin: 0px 30px 0px 30px;
    font-family: Open Sans;
    font-size: 14px;
}

.experience-content {
    display: flex;
}

.experience-content__company-info {
    width: 120px;
    margin: 0 0 20px 30px;
}

.experience-content__h3 {
    margin: 0 0 5px 0;
    font-family: Open Sans;
    font-size: 16px;
}

.experience-content__span {
    font-size: 16px;
    color: #667081;
}

.experience-content__p {
    margin: 0;
}

.feedback {
    margin-bottom: 40px;
}

.feedbacks-content {
    height: 50px;
    display: flex;
    align-items: center;
    margin:0 0 0 30px;
}

.feedback-p {
    margin-bottom: 35px;
    background-color: #EEEEEE;
}

.feedbacks-avatar {
    border-radius: 50%;
}

.feedbacks-span {
    margin: 0 5px 0 20px;
}

.feedbacks-a {
    text-decoration: none;
    color: #26C17E;
}

.contacts {
    display: flex;
    height: 60px;
    margin: -15px 0 10px 30px;
    align-items: center;
}

.contacts-icon {
    margin-right: 22px;
}

.contacts__h3 {
    font-family: Open Sans;
    font-size: 15px;
    margin: 0;
    line-height: 19px;
}


.contacts-a {
    font-family: Open Sans;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.contacts-a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-panel {
    width: 250px;
    height: 100vh;
    background-color: #222935;
    position: fixed;
    top: 0px;
    left: 0px;
}

.nav-panel__avatar {
    height: 100px;
    width: 100px;
    margin: 10px 75px 10px 75px;
}

.nav-panel__h2 {
    color: white;
    font-family: Open Sans;
    font-weight: lighter;
    margin: 0px 0px 10px 0px;
    text-align: center;
    font-size: 16px;
}

.nav-panel__ul {
    padding: 0px;
    margin-top: 40px;
}

.nav-panle__li {
    list-style: none;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0 0 0 21px;
}

.nav-panel__li-icon {
    margin-right: 20px;
}

.nav-panel__li-a {
    text-decoration: none;
    color: #667081;
    font-style: Open Sans;
    font-size: 16px;
}

.nav-panel__li-a:hover,
.nav-panel__li-a:active {
    color: #26C17E;
    cursor: pointer;
}

.nav-panel__toggle-btn {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: #222935;
    border: 0px;
    margin: 10px 0 0px -5px;
}

.nav-panel__toggle-btn-img {
    z-index: 100;
}

.margin-correction {
    margin-top: 0px;
}

.nav-panel__toggle-btn:hover {
    cursor: pointer;
}

.toggle {
    display: none;
}

.education-container {
    display: flex;
    margin: 0 30px 10px 30px;
}

.educaion-timeline {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.education-span {
    margin: 0 0 5px 0;
    font-family: Open Sans;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.education-greenline {
    width: 5px;
    background-color: #26C17E;
    height: 100%;
    margin-left: 15px;
}

.education-info {
    background-color: #EEEEEE;
}

.education-title {
    margin: 10px 0px 0px 10px;
    font-family: Open Sans;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.education-p {
    margin: 10px 0 10px 10px
}

@media only screen and (max-width: 600px) {
    .nav-panel {
        width: 60px;
    }

    .nav-panel__li-a {
        display: none;
    }

    .nav-panel__avatar {
        width: 40px;
        height: 40px;
        margin: 10px 0 10px 10px;
    }
    .inner-page__info {
        margin-left: -170px;
    }
    .nav-panel__toggle-btn {
        margin-left: -23px;
    }
}
