@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body, html {
    height: 100%;
    margin: 0;
}

.inner-page__title {
    color: #26C17E;
    margin: 40px 0px 40px 30px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}

p {
    color: black;
    margin-left: 20px;
    margin: 0px 30px 0px 30px;
    font-family: Open Sans;
    font-size: 14px;
}

.experience-content {
    display: flex;
}

.experience-content__company-info {
    width: 120px;
    margin: 0 0 20px 30px;
}

.experience-content__h3 {
    margin: 0 0 5px 0;
    font-family: Open Sans;
    font-size: 16px;
}

.experience-content__span {
    font-size: 16px;
    color: #667081;
}

.experience-content__p {
    margin: 0;
}