@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body, html {
    height: 100%;
    margin: 0;
}

.inner-page__title {
    color: #26C17E;
    margin: 40px 0px 40px 30px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}

p {
    color: black;
    margin-left: 20px;
    margin: 0px 30px 0px 30px;
    font-family: Open Sans;
    font-size: 14px;
}

.experience-content {
    display: flex;
}

.experience-content__company-info {
    width: 120px;
    margin: 0 0 20px 30px;
}

.experience-content__h3 {
    margin: 0 0 5px 0;
    font-family: Open Sans;
    font-size: 16px;
}

.experience-content__span {
    font-size: 16px;
    color: #667081;
}

.experience-content__p {
    margin: 0;
}

.feedback {
    margin-bottom: 40px;
}

.feedbacks-content {
    height: 50px;
    display: flex;
    align-items: center;
    margin:0 0 0 30px;
}

.feedback-p {
    margin-bottom: 35px;
    background-color: #EEEEEE;
}

.feedbacks-avatar {
    border-radius: 50%;
}

.feedbacks-span {
    margin: 0 5px 0 20px;
}

.feedbacks-a {
    text-decoration: none;
    color: #26C17E;
}

.contacts {
    display: flex;
    height: 60px;
    margin: -15px 0 10px 30px;
    align-items: center;
}

.contacts-icon {
    margin-right: 22px;
}

.contacts__h3 {
    font-family: Open Sans;
    font-size: 15px;
    margin: 0;
    line-height: 19px;
}


.contacts-a {
    font-family: Open Sans;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.contacts-a:hover {
    text-decoration: underline;
    cursor: pointer;
}